* {
    font-family: sans-serif;
}

:root {
    --mainWidth: 1400px;
    --darkBlue: #031625;
    --purple: #d463d4;
}

body {
    font-family: sans-serif;
    background-image: url("../nour_photo/background-page.png");
    background-size: contain;
    position: relative;
}

.container {
    width: var(--mainWidth);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    overflow: hidden;
}

.container > h1 {
    color: white;
    font-size: 100px;
    margin-top: 100px;
    text-align: center;
}

nav {
    width: 100%;
    height: 80px;
    z-index: 11;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    color: black;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul {
    width: var(--mainWidth);
    display: flex;
    font-size: 20px;
}

nav > ul > li {
    list-style: none;
    margin: 10px 40px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

nav > ul > li:hover {
    background-color: var(--purple);
    padding: 10px 20px;
    border-radius: 20px;
}


nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu {
    position: absolute;
    background-color: var(--darkBlue);
    border-radius: 10px;
    display: none;
    margin-top: 20px;
    /* height: 200px; */
}

.menu ul li {
    list-style: none;
    padding: 20px 20px;
    border-radius: 0 30px;
    transition: 0.5s;
}

.menu ul li:hover {
    background-color: var(--purple);
}


.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px 80px;
    width: 100%;
}

.logout {
    margin-right: 50px;
    padding: 10px 20px;
    background-image: linear-gradient(40deg,var(--purple),var(--blue),var(--green-blue));
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

footer {
    background-color: #031625 !important;
    height: 400px;
    padding: 30px;
}

.footer {
    width: var(--mainWidth);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

footer > * {
    color: white;
}

.con1 , .col2 , .col3 {
    width: 300px;
}

.footer h1 , .footer h2 {
margin-bottom: 30px;
}

.col1 p:nth-of-type(2),
.col1 p:nth-of-type(4) {
    margin-bottom: 35px;
}


.col1 h1 {
    font-size: 40px;
    background: linear-gradient(40deg,var(--purple),var(--blue),var(--green-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.col1 p {
    font-size: 20px;
} 

.col1 p > span {
    font-weight: bold;
}

.col2 h2,
.col3 h2 {
    font-size: 25px;
    margin-top: 30px;
    color: var(--purple);
}

.col2 a {
    font-size: 20px;
    margin: 8px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.col2 a:hover {
    margin-left: 20px;
}


.col2 {
    display: flex;
    flex-direction: column;
}

.col3 p{
    font-size: 18px;
}

.copyWrite {
    margin: 20px 0;
    font-size: 12px;
    color: gray;
}

.icons {
    position: absolute;
}

.icons > * {
    margin-right: 15px;
    transition: 0.5s;
}

.icons > svg:hover {
    margin-bottom: 10px;
}

.clock {
    position: relative;
}

.clock .colckContainer{
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}

.color{
    color: gray;
    font-weight: bold;
    font-size: 25px;
}

.clock p {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 30px;
    background-image: linear-gradient(40deg,var(--purple),var(--blue),var(--green-blue));;
    border-radius: 30px;
    
}

