* {
    margin: 0;
    padding: 0;
}

:root {
    --mainWidth: 1000px;
    --darkBlue: #031625;
    --purple: #d463d4;
    --blue: #00c3ff;
    --pink: #ee4ae0;
    --green-blue: #06dfc2;
}

body {
    font-family: sans-serif;
    background-image: url("../nour_photo/background-page.png");
    background-size: contain;
}

.choosen {
    background-color: var(--purple);
    padding: 10px 20px;
    border-radius: 20px;
}

.sctionOne {
    /* background-color: red; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 100px;
}

.image {
    width: 900px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.image img {
    width: 100%;
}

.image img:hover {
    transform: rotate(20deg) scale(1.5);
    transition: transform 1s;
}

.sctionOne .paragraph {
    font-size: 60px;
    width: 500px;
    margin: 40px;
    text-shadow: 0 0 15px var(--blue);
    color: white;
}

.container-one {
    display: grid;
    height: 80vh;
    width: 100%;
    grid-template-rows: repeat(9,auto);
    grid-template-columns: repeat(19,auto);
    gap: 5px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.container-one > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 15px white;
    font-weight: bold;
    cursor: pointer;
}

.s-block {
    border: 2px solid var(--pink);
    box-shadow:inset 0 0 20px var(--pink);
}

.f-block {
    border:2px solid var(--green-blue);
    box-shadow:inset 0 0 20px var(--green-blue);
}

.d-block {
    border: 0 0 20px var(--purple);
    box-shadow:inset 0 0 20px wheat;
}

.p-block {
    border: 0 0 20px var(--blue);
    box-shadow:inset 0 0 20px var(--blue);
}

.box {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: left center;
}

.box > .face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    backface-visibility: hidden;
}

.box:hover {
    transform: translateX(100%) rotateY(-180deg);
}

.box > .back {
    transform: rotateY(180deg);
    overflow: hidden;
}

.box > .back > img {
    width: 100%;
}

.sectionTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-element {
    position: relative;
    width: 300px;
}

.sectionTwo .image-element {
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.sectionTwo .image-element img {
    width: 100%;
}

.sectionTwo .card-element .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.paragraph-e {
    position: relative;
    background-color: var(--darkBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    color: white;
}

.face1 {
    position: relative;
    background-color: var(--darkBlue);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateY(110px);
    transition: 0.5s;
}

.sectionTwo .face1:hover {
    transform: translateY(-100px);
}

.face2 {
    position: relative;
    width: 300px;
    background-color: var(--darkBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 40px black;
    transform: translateY(-120px);
}

.face2 .content a {
    margin: 20px 0 0;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 5px;
    background-color: #ee4ae0a1;
    border-radius: 20px;
    transition: 0.5s;
}

.face2 .content a:hover {
    background-color: #06dfc2a1;
}  

.face1 .content {
    filter: grayscale(100%);
    transition: 0.5s;
}

.face1:hover .content {
    filter: none;
}

.card-elemnet .face1 .content img {
    max-width: 300px;
}

.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0 0 15px;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}